.footerOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  flex-direction: column;
}
.footerOverlay__black {
  height: 25%;
  background-color: var(--color-black);
}

.footerOverlay__img {
  height: 75%;
}
